<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="top-container">
      <div class="input-container">
        <h2>iris learner</h2>
        <p>please enter values below:</p>
        <form>
          <input type="text" placeholder="sepal length (cm)" />
          <input type="text" placeholder="sepal width (cm)" />
          <input type="text" placeholder="petal length (cm)" />
          <input type="text" placeholder="petal width (cm)" />
          <button type="submit">predict</button>
        </form>
      </div>
    </div>
    <div class="bottom-container">
      <div class="results-container">
        <div class="entered-container">
          <p>You entered:</p>
          <p><b>5.1 cm</b> sepal length</p>
          <p><b>3.5 cm</b> sepal width</p>
          <p><b>1.4 cm</b> petal length</p>
          <p><b>0.2 cm</b> petal width</p>
        </div>
        <div class="percentage-container">
          <h1>89% sure it's an...</h1>
        </div>
        <div class="iris-container">
          <div class="info">
            <h2><u>iris setosa</u></h2>
            <p>
              Variable in stature, Iris setosa (Bristle-Pointed Iris) is a rhizomatous perennial forming a clump of
              stiff, narrow, sword-like, mid-green leaves, 1-2 ft. long (30-60 cm), with a prominent midrib and a
              purplish tinged base. The foliage arises from shallowly rooted, large, branching rhizomes forming clumps.
            </p>
          </div>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Iris_setosa_2.jpg/847px-Iris_setosa_2.jpg"
            alt="iris-setosa"
            height="200"
            width="200"
          />
        </div>
      </div>
    </div>
  </body>
</html>
